.modal {
  @include flex-all-center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(32, 35, 38, 0.70);
  opacity: 0;
  transition: var(--transition);

  &.active {
    z-index: 9;
    opacity: 1;
  }
}

.modal__wrapper {
  position: relative;
  border-radius: 12px;
  padding: 13px 20px 20px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 18px 60px 0 rgba(0, 0, 0, 0.05);
  background: var(--light-color);

  @include media(md) {
    padding: 17px 20px 20px;
  }
}

.modal__close {
  position: absolute;
  right: 13px;
  top: 13px;
  color: var(--dark-color);
  transition: var(--transition);
  cursor: pointer;

  &:hover,
  &:focus-within {
    color: var(--accent-color);
  }

  svg {
    width: 22px;
    height: 22px;
  }
}

.modal__title {
  margin-bottom: 10px;

  @include media(md) {
    margin-bottom: 8px;
  }
}

.modal__text {
  margin-bottom: 29px;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.12px;
}

.modal-form {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.modal-form__input-wrap {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.modal-form__btn {
  margin-top: 22px;
  margin-bottom: 58px;

  @include media(md) {
    margin-bottom: 60px;
  }
}

.note {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 238px;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: 0.1px;
  text-align: center;

  a {
    color: var(--accent-color);
  }
}
