.question {
  padding-top: 22px;
  padding-bottom: 50px;
  background-color: var(--bacground-dark-color);

  @include media(md) {
    padding-top: 55px;
    padding-bottom: 88px;
  }
}

.question__title {
  margin-bottom: 28px;

  @include media(md) {
    margin-bottom: 37px;
  }
}

.form__rating {
  margin-bottom: 36px;

  @include media(md) {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 46px;
  }
}

.form__rating-text {
  margin-bottom: 12px;
}

.form__wrapper {
  margin-bottom: 17px;

  @include media(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 146px;
    margin-bottom: 22px;
    gap: 12px;
  }
}

.form__form-text {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-bottom: 15px;
}

.form__input-wrap {
  &--textarea {
    grid-column: 1/-1;

    textarea {
      height: 100%;
      font-family: inherit;
      resize: none;

      @include media(sm-max) {
        height: 200px;
      }
    }

    .input__label::before {
      top: -160px;

      @include media(md) {
        top: -104px;
      }
    }
  }

  @include media(sm-max) {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.form__select-wrap {
  border-radius: 10px;
  padding: 17px 16px 18px 14px;
  width: 100%;
  height: auto;
  line-height: 1;


  @include media(sm-max) {
    margin-bottom: 12px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &::after {
    right: 16px;
    margin-top: -3px;
    border-right: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    width: 7px;
    height: 7px;
  }

  .current {
    color: var(--plaseholder);
  }

  .list {
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    width: 100%;
    box-shadow: 0 8px 60px 0 rgba(0, 0, 0, 0.07);
    background-color: var(--light-color);
  }

  .option {
    padding: 14px 17px;
    min-height: inherit;
    font-size: 14px;
    line-height: 1;
  }
}

.form__select-wrap .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: var(--select);
}

.form__select-wrap:active, .form__select-wrap.open, .nice-select:focus {
  border-color: var(--accent-color);
}

.form__select-wrap .option.selected {
  position: relative;
  font-weight: 400;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
    background-color: var(--accent-color);
  }
}

.form__btn {
  width: 100%;
  height: 50px;

  @include media(md) {
    width: 133px;
  }
}
