html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family), sans-serif;
  -webkit-text-size-adjust: 100%;
  color: var(--dark-color);
  background-color: var(--bacground-light-color);
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;

  &.overflow {
    overflow: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  @include flex-all-center;

  border: 1px solid transparent;
  border-radius: 100px;
  padding: 10px 20px 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--light-color);
  background-color: var(--accent-color);
  transition: var(--transition);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: transparent;
  }
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.28px;

  @include media(md) {
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -0.8px;
  }
}

.title-sab {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.22px;

  @include media(md) {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.56px;
  }
}

.text-upper {
  font-weight: 600;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}
