// colors
:root {
  // base
  --font-family: "Onest", sans-serif;
  --content-width: 738px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #202326;
  --accent-color: #2D1AA7;
  --bacground-light-color: #F8F8FA;
  --bacground-dark-color: #F1F1F3;
  --star: #FFB400;
  --star-default: #D7D7E2;
  --stroke: #ECECF3;
  --input-stroke: #EDEDF1;
  --plaseholder: #777;
  --select: #F1F1F3;
  --transition: all .3s ease-in-out;
}
